<div class="container-fulid">
    <div class="container" id="proforma">
        <div class="mx-5">
            <div class="row pt-5">
                <div class="col-md-6 border">
                    <h4>SANDRA MARIEL GIGANTE</h4>
                    <ul class="list-unstyled">
                        <li>Razón social: Sandra Mariel Gigante</li>
                        <li>Domicilio: Vuelta de Obligado 3316 3ro A, CABA</li>
                        <li>Confición frente al IVA: Responsable Inscripto</li>
                    </ul>
                </div>
                <div class="col-md-6 border">
                    <h4>PRESUPUESTO</h4>
                    <ul class="list-unstyled">
                        <li>Nº: </li>
                        <li>Fecha de emisión:</li>
                        <li>CUIT: </li>
                        <li>Ingresos Brutos:</li>
                        <li>Fecha de inicio de actividades: </li>
                    </ul>
                </div>
            </div>
            <div class="row border">
                <div class="col-md-6">
                    <ul class="list-unstyled">
                        <li>CUIT: </li>
                        <li>Condición frente al IVA:</li>
                        <li>Condición de venta: </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-unstyled">
                        <li>Apellido y Nombre/Razón social: </li>
                        <li>Domicilio: </li>
                    </ul>
                </div>
            </div>
            <div class="row border">
                <table class="table">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Precio Unitario</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Aro Magnolia</td>
                            <td>100</td>
                            <td>$ 1.500,00</td>
                            <td>$ 150.000,00</td>
                        </tr>
                        <tr>
                            <td>Aro Magnolia</td>
                            <td>100</td>
                            <td>$ 1.500,00</td>
                            <td>$ 150.000,00</td>
                        </tr>
                        <tr>
                            <td>Aro Magnolia</td>
                            <td>100</td>
                            <td>$ 1.500,00</td>
                            <td>$ 150.000,00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row border">
                <div class="col-md-12 border">
                </div>
                <div class="col-md-6">
                    <p class="text-end">Subtotal: </p>
                    <p class="text-end">IVA: </p>
                    <h5 class="text-end">Total: </h5>
                </div>
            </div>

        </div>

    </div>
    <div class="row mt-2">
        <div class="col-md-6"></div>
        <div class="col-md-4">
            <button type="button" class="btn btn-secondary m-2" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-success m-2" data-bs-dismiss="modal">Descargar</button>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>