<div class="container w-75 mx-5">
    <h2>Acerca de NMP</h2>
    <p>¡Bienvenido a NMP! NMP es una solución integral diseñada para facilitar la gestión de presupuestos, facturación y
        cobranzas, así como la administración de clientes, proveedores e insumos. Hemos
        desarrollado esta aplicación en conformidad con las leyes y regulaciones de la República Argentina, para
        brindarte una herramienta confiable y efectiva que optimice tus procesos comerciales y simplifique tu trabajo
        diario.</p>

    <h4>Generalidades sobre los Términos de Servicio:</h4>
    <p>Al utilizar NMP, aceptas y te comprometes a cumplir con nuestros Términos de Servicio. Estos términos establecen
        las pautas y condiciones para el uso de la aplicación, y te recomendamos que los leas atentamente antes de
        comenzar
        a utilizar nuestros servicios.</p>

    <h4>Permiso para utilizar el Servicio:</h4>
    <p>Te otorgo un permiso personal, no exclusivo y no transferible para utilizar NMP de acuerdo con los Términos de
        Servicio establecidos. Este permiso está sujeto a ciertas restricciones, y cualquier uso no autorizado de la
        aplicación puede resultar en la terminación de tu cuenta.</p>

    <h4>Reserva de derechos:</h4>
    <p>Todos los derechos de propiedad intelectual relacionados con NMP y su contenido, incluyendo el diseño, la
        interfaz, el software y los logotipos, son propiedad exclusiva mía como desarrollador independiente o de los
        terceros que
        me han otorgado las licencias correspondientes. Queda expresamente prohibido copiar, modificar, distribuir o
        utilizar cualquier parte de la aplicación sin mi consentimiento previo por escrito.</p>

    <h4>Descripción del Servicio:</h4>
    <p>NMP es una herramienta de gestión empresarial diseñada para simplificar tus procesos relacionados con
        presupuestos, facturación, cobranzas y la administración de clientes, proveedores e insumos. Mi objetivo es
        brindarte una
        plataforma intuitiva y eficiente que te permita optimizar tus operaciones comerciales, aumentar tu productividad
        y mejorar la gestión de tu negocio.</p>

    <p>Ten en cuenta que NMP está sujeta a las leyes y regulaciones vigentes en la República Argentina. Es importante
        que cumplas con todas las obligaciones legales correspondientes al utilizar nuestra aplicación.</p>

    <p>Si tienes alguna pregunta o necesitas asistencia adicional, no dudes en ponerte en contacto conmigo. Estoy aquí
        para ayudarte en cada paso del camino.</p>
</div>