<div class="container w-75 mx-5">
    <h2>Preguntas frecuentres</h2>
    <br>
    <p>En esta sección brindamos las respuestas a las preguntas que puedan surgir sobre las funcionalidades de la
        aplicación NMP. </p>
    <br>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#faq1">
        ¿Cómo dar de alta un proveedor o cliente?
    </button>

    <!-- Modal -->
    <div class="modal fade" id="faq1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">¿Cómo dar de alta un proveedor o cliente?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- <img src="..\assets\Faq_alta_proveedor.gif" class="img-fluid" alt="Cómo dar de alta un proveedor o cliente"> -->
                    <video height="600" src="..\assets\faq\Faq_alta_proveedor.mp4" class="object-fit-fill"
                    controls muted></video>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <br>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#faq2">
        ¿Cómo generar un reporte?
    </button>

    <!-- Modal -->
    <div class="modal fade" id="faq2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">¿Cómo generar un reporte?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- <img src="..\assets\Faq_alta_proveedor.gif" class="img-fluid" alt="Cómo dar de alta un proveedor o cliente"> -->
                    <video height="600" src="..\assets\faq\Faq_Reporte.mp4" class="object-fit-fill" controls muted></video>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#faq3">
        ¿Cómo usar un filtro de búsqueda?
    </button>

    <!-- Modal -->
    <div class="modal fade" id="faq3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">¿Cómo usar un filtro de búsqueda?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- <img src="..\assets\Faq_alta_proveedor.gif" class="img-fluid" alt="Cómo dar de alta un proveedor o cliente"> -->
                    <video height="600" src="..\assets\faq\Faq_Filtro.mp4" class="object-fit-fill" controls muted></video>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#faq4">
        ¿Cómo generar un presupuesto?
    </button>

    <!-- Modal -->
    <div class="modal fade" id="faq4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">¿Cómo generar un reporte?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- <img src="..\assets\Faq_alta_proveedor.gif" class="img-fluid" alt="Cómo dar de alta un proveedor o cliente"> -->
                    <video height="600" src="..\assets\faq\Faq_Reporte.mp4" class="object-fit-fill" controls muted></video>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


</div>