<router-outlet></router-outlet>
<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div style="height: 100px;">
                <a href="/"
                    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <img src="../../../assets/Logo_NMP.png" alt="Logo" style="width: 50px;">
                    <span class="fs-4">NMP</span>
                </a>
            </div>
        </div>
        <div class="col-10">
        </div>
        <hr>
    </div>
    <div class="row">
        <div class="col-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link" id="clientes" data-toggle="pill" href="/clientes" role="tab"
                    aria-controls="clientes" aria-selected="true">Clientes</a>
                <a class="nav-link" id="presupuestos" data-toggle="pill" href="/presupuestos" role="tab"
                    aria-controls="presupuestos" aria-selected="false">Presupuestos</a>
                <a class="nav-link" id="proformas" data-toggle="pill" href="/proformas" role="tab"
                    aria-controls="proformas" aria-selected="false">Proformas</a>
                <a class="nav-link" id="cobranzas" data-toggle="pill" href="/cobranzas" role="tab"
                    aria-controls="cobranzas" aria-selected="false">Cobranzas</a>
                <a class="nav-link" id="proveedores" data-toggle="pill" href="/proveedores" role="tab"
                    aria-controls="proveedores" aria-selected="false">Proveedores</a>
                <a class="nav-link" id="catalogo" data-toggle="pill" href="/catalogo" role="tab"
                    aria-controls="catalogo" aria-selected="false">Catálogo</a>
            </div>
        </div>
        <div class="col-8">
            <router-outlet></router-outlet>
        </div>
        <div class="col-2">

        </div>
    </div>
</div> -->