<!-- <div class="container">
    <form>
        <div class="mb-3">
            <select class="form-select" aria-label="Default select example"
                (change)="obtenerLocalidad($any($event.target).value)">
                <option selected>Seleccione una Provincia</option>
                <option *ngFor="let pro of listaProvincias" value={{pro.id}}>{{ pro.nombre }}</option>
            </select>
        </div>
        <div class="mb-3">
            <select class="form-select" aria-label="Default select example">
                <option selected>Seleccione una Localidad</option>
                <option *ngFor="let loc of listaLocalidades">{{ loc.nombre }}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {{listaProvincias | json}}
    <hr>
    {{listaLocalidades |json}}
</div> -->